name: 'YOLOL Script'
scopeName: 'source.yolol'
type: 'tree-sitter'
parser: 'tree-sitter-yolol'
fileTypes: [
  'yolol'
]
scopes:
  'program': 'source.yolol'

  '''
  "if",
  "then",
  "else",
  "end",
  "goto"
  ''': 'keyword.control'

  '''
  "==",
  "+=",
  "-=",
  "*=",
  "/=",
  "%=",
  "^=",
  ''': 'keyword.operator.assignment'

  '''
  "==",
  "!=",
  "<=",
  ">=",
  ">",
  "<"
  ''': 'keyword.operator.comparison'

  '''
  "not",
  "and",
  "or"
  ''': 'keyword.operator.logical'

  '''
  "+",
  "-",
  "*",
  "/",
  "%",
  "^",
  "++",
  "--",
  "!",
  "abs",
  "sqrt",
  "cos",
  "sin",
  "tan",
  "acos",
  "asin",
  "atan"
  ''': 'keyword.operator.arithmetic'

  'field': 'entity.name.type'
  'variable': 'variable'
  'identifier': 'identifier'

  'number': 'constant.numeric'
  'string': 'string.quoted'