name: 'YOLOL Script'
scopeName: 'source.yolol'
type: 'tree-sitter'
parser: 'tree-sitter-yolol'
fileTypes: [
  'yolol'
]
scopes:
  'program': 'source.yolol'

  '''
  "if",
  "then",
  "else",
  "end",
  "goto"
  ''': 'keyword.control'

  'identifier': 'identifier'
  'number': 'constant.numeric'
  'string': 'string.quoted'